{% extends 'layout.html' %}

{% block title %}
{{ config.title }}
{% endblock %}

{% block content %}
<div id="home" class="banner">
  <div class="center">
    <h1>AcyOrt</h1>
    <p>A <span>Node.js</span> static website framework.</p>

    <a
      class="start"
      {% if page.language === 'en' %}
      href="{{ _url('/docs/') }}"
      {% else %}
      href="{{ _url('/' + page.language + '/docs/') }}"
      {% endif %}
    >
      {{ __('start') }}
    </a>
  </div>
</div>

<div class="center home">
  <div class="features">
    <div class="feature writing">
      <h3>{{ __('featureCustom.title') }}</h3>
      <p>{{ __('featureCustom.description') }}</p>
    </div>
    <div class="feature plugin">
      <h3>{{ __('featurePlugin.title') }}</h3>
      <p>{{ __('featurePlugin.description') }}</p>
    </div>
    <div class="feature ci">
      <h3>{{ __('featureDeploy.title') }}</h3>
      <p>{{ __('featureDeploy.description') }}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ _url('js/script.js') }}"></script>
{% endblock %}
