{% extends 'layout.html' %}

{% block title %}
{{ config.title }}
{% endblock %}

{% block content %}
<div id="home" class="banner">
  <div class="center">
    <h1>AcyOrt</h1>
    <p>A <span>Node.js</span> static website framework.</p>
    {% if page.language === 'en' %}
    <a class="start" href="{{ _url('/docs/') }}">{{ __('start') }}</a>
    {% else %}
    <a class="start" href="{{ _url('/zh-cn/docs/') }}">{{ __('start') }}</a>
    {% endif %}
  </div>
</div>

<div class="center home">
  <div class="features">
    {{ page.content }}
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ _url('js/script.js') }}"></script>
{% endblock %}
