<div class="header">
  <div class="center">
    <div class="menu">
      <a class="logo" href="{{ _url(page.language + '/') }}">{{ config.title }}</a>
      <a class="github" target="_blank" href="https://github.com/acyortjs/acyort/"></a>
      {% for u in config.menu %}
      <a class="normal" href="{{ _url(page.language + u) }}">{{ __('menu.' + loop.key) }}</a>
      {% endfor %}
    </div>
    <div class="mobile-menu">
      {% for u in config.menu %}
      <a href="{{ _url(page.language + u) }}">{{ __('menu.' + loop.key) }}</a>
      {% endfor %}
    </div>
    <div class="language">
      <select>
        <option>English</option>
      </select>
      <div id="toggle"></div>
    </div>
  </div>
</div>
