<div class="header">
  <div class="center">
    <div class="menu">
      <a class="logo" href="{{ _url(page.language + '/') }}">{{ config.title }}</a>
      <a class="github" target="_blank" href="https://github.com/acyortjs/acyort/"></a>
      {% for u in config.menu %}
      <a class="normal" href="{{ _url(page.language + u) }}">{{ __('menu.' + loop.key) }}</a>
      {% endfor %}
    </div>
    <div class="mobile-menu">
      {% for u in config.menu %}
      <a href="{{ _url(page.language + u) }}">{{ __('menu.' + loop.key) }}</a>
      {% endfor %}
    </div>
    <div class="language">
      <select id="language">
        {% if !page.language %}
        <option value="" selected>English</option>
        {% else %}
        <option value="">English</option>
        {% endif %}

        {% for lan in config.languages %}
        {% if page.language === loop.key %}
        <option value="{{ loop.key }}" selected>{{ lan }}</option>
        {% else %}
        <option value="{{ loop.key }}">{{ lan }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <div id="toggle"></div>
    </div>
  </div>
</div>
