<div class="header">
  <div class="center">
    <div class="menu">
      <a
        class="logo"
        {% if page.language !== 'en' %}
        href="{{ _url(page.language + '/') }}"
        {% else %}
        href="{{ _url('/') }}"
        {% endif %}
      >
        {{ config.title }}
      </a>

      <a class="github" target="_blank" href="https://github.com/acyortjs/acyort/"></a>

      {% for u in config.menu %}
      <a
        class="normal"
        {% if page.language !== 'en' %}
        href="{{ _url(page.language + u) }}"
        {% else %}
        href="{{ _url(u) }}"
        {% endif %}
      >
        {{ __('menu.' + loop.key) }}
      </a>
      {% endfor %}
    </div>

    <div class="mobile-menu">
      {% for u in config.menu %}
      <a
        {% if page.language !== 'en' %}
        href="{{ _url(page.language + u) }}"
        {% else %}
        href="{{ _url(u) }}"
        {% endif %}
      >
        {{ __('menu.' + loop.key) }}
      </a>
      {% endfor %}

      {{ _docsNav() }}
      {{ _apiNav() }}
    </div>

    <div class="language">
      <select id="language">
        {% for lan in config.languages %}
        <option
          value="{{ loop.key }}"
          {% if page.language === loop.key %}
          selected
          {% endif %}
        >
          {{ lan }}
        </option>
        {% endfor %}
      </select>
      <div id="toggle"></div>
    </div>
  </div>
</div>
