{% extends 'layout.html' %}

{% block title %}
{{ page.title }} - {{ config.title }}
{% endblock %}

{% block content %}
<div class="banner">
  <div class="center">{{ page.title }}</div>
</div>

<div class="center main">
  <div class="nav">
    <div class="stay">
      {% if page.category === 'API' %}
      {{ _apiNav(page.language) }}
      {% endif %}

      {% if (['Customization', 'Getting Started', 'Basic Usage']).indexOf(page.category) > -1 %}
      {{ _docsNav(page.language) }}
      {% endif %}
    </div>
  </div>

  <div class="content markdown">
    {{ page.content }}

    {% if page.category %}
    <div class="paginator">
      {{ _paginator(page) }}
    </div>
    {% endif %}
  </div>

  <div class="toc">
    <div class="stay">
      {% set toc = _toc(page) %}
      {% if toc %}
      <p>{{ __('toc') }}</p>
      {{ toc }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ _url('js/script.js') }}"></script>
{% endblock %}
