{% extends 'layout.html' %}

{% block title %}
{{ page.title }} | {{ config.title }}
{% endblock %}

{% block content %}
<div class="banner">
  <div class="center">{{ page.title }}</div>
</div>

<div class="center main">
  {% if page.category === 'API' %}
  <div class="nav">{{ _apiNav() }}</div>
  {% endif %}

  {% if (['Customization', 'Getting Started', 'Basic Usage']).indexOf(page.category) > -1 %}
  <div class="nav">{{ _docsNav() }}</div>
  {% endif %}

  {% if !page.category %}
  <div class="nav"></div>
  {% endif %}

  <div class="content markdown">
    {{ page.content }}

    <div class="paginator">
      {{ _paginator(page) }}
    </div>
  </div>

  <div class="toc">
    <p>{{ __('toc') }}</p>
    {{ _toc(page) }}
  </div>
</div>
{% endblock %}
